<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426434464947-b30g5ed2rd3lhqhc972jlku7qofmtjij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426434464947-b30g5ed2rd3lhqhc972jlku7qofmtjij</string>
	<key>API_KEY</key>
	<string>AIzaSyB7ovWkb6Ff4Pc3WuHHxOT5wdlNKmUNnMw</string>
	<key>GCM_SENDER_ID</key>
	<string>426434464947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ipass.jhs07</string>
	<key>PROJECT_ID</key>
	<string>ipass-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ipass-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426434464947:ios:85d20c251935ba9b91f4c6</string>
</dict>
</plist>